<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/cosmo.css">
	<title>ABC</title>
</head>
<body>
	<center>
		<div id="general-container">
			<br>
			<div id="container-abc">
				<br>
				<h2>Selecciona la letra que gustes</h2>
				<br>
				<form method="GET" action="../functions/escribe.php">
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="1" id="abc"><h1>A</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="2" id="abc"><h1>B</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="3" id="abc"><h1>C</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="4" id="abc"><h1>D</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="5" id="abc"><h1>E</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="6" id="abc"><h1>F</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="7" id="abc"><h1>G</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="8" id="abc"><h1>H</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="9" id="abc"><h1>I</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="10" id="abc"><h1>J</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="11" id="abc"><h1>K</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="12" id="abc"><h1>L</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="13" id="abc"><h1>M</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="14" id="abc"><h1>N</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="15" id="abc"><h1>Ñ</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="16" id="abc"><h1>O</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="17" id="abc"><h1>P</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="18" id="abc"><h1>Q</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="19" id="abc"><h1>R</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="20" id="abc"><h1>S</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="21" id="abc"><h1>T</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="22" id="abc"><h1>U</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="23" id="abc"><h1>V</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="24" id="abc"><h1>W</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="25" id="abc"><h1>X</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="26" id="abc"><h1>Y</h1></button></div>
					<div class="letters"><button type="submit" class="btn btn-outline-warning" name="id" value="27" id="abc"><h1>Z</h1></button></div>
					<div class="letters"><input type="button" value="Salir" class="btn btn-outline-danger" id="abc" onclick="javascript:window.open('exit.html', '_self');"></div>
				</form>
				<br>
				<br>
			</div>
		</div>
	</center>
</body>
</html>