<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1">
	<link rel='stylesheet' type='text/css' href='../assets/css/estilos.css'>
	<link rel='stylesheet' type='text/css' href='../assets/css/cosmo.css'>
	<title>Bienvenido</title>
</head>
<body>
	<center>
		<div id="general-container">
			<form action="abc.html">
				<div id="container-welcome" style="background-color:white; border-radius:6%; margin-top:100px">
					<br>
					<h1>Bienvenido</h1>
					<h2>a <b><font color="#86B950">A</font><font color="#6CAFF3">B</font><font color="orange">C</font>Kids</b></h2>
					<br>
					<h3 id="bienvenida">Un lugar para aprender, educar y jugar para tus hijos</h3>
					<br>
					<button id="btnW" type="submit" class="btn btn-info">Empezar</button>
					<br>
					<br>
				</div>
			</form>
		</div>
	</center>
</body>
</html>